.App {
  border-radius: 5px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1Loggin {
  font: 2em sans-serif;
  font-weight: bold;
  color: #1a759f;
}

@media (max-width: 500px) {
  .h1Loggin {
    font-size: 1.5em;
  }
}
